<blockquote>
  <div class="page-header">
    <h1>Payment</h1>
  </div>

  <p class="lead">A <%= @number_of_years %> year loan of $<%= @principal_value.to_i %>, with an annual interest rate of <%= @interest_rate %>%, requires a monthly payment of $<%= @payment %>.</p>
</blockquote>
